{% extends 'accounts/base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<h2 class="page-title" style="text-align:center;">Register</h2>

<div class="card" style="max-width:500px; margin:auto;">
    <form method="POST">
        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" placeholder="Enter username" required>

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required>

        <label>Password</label>
        <input type="password" name="password1" placeholder="Enter password" required>

        <label>Confirm Password</label>
        <input type="password" name="password2" placeholder="Confirm password" required>

        <button type="submit" class="btn btn-primary" style="width:100%;">Register</button>
    </form>

    <p style="margin-top:20px; text-align:center;">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </p>
</div>
{% endblock %}